{% extends 'inv/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <br>
    
    <div class="button-group">

     

      <a href="http://127.0.0.1:8000/admin/pyt/product/" class="btn btn-primary btn-md btn-trim" role="button">Products</a>
      <a href="http://127.0.0.1:8000/admin/pyt/product/add/" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="http://127.0.0.1:8000/admin/pyt/employee_details/" class="btn btn-primary btn-md btn-trim" role="button"> Employee_Details </a>
      <a href="http://127.0.0.1:8000/admin/pyt/employee_details/add/" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="http://127.0.0.1:8000/admin/pyt/supplier_detail/" class="btn btn-primary btn-md btn-trim" role="button"> Supplier_detail</a>
      <a href="http://127.0.0.1:8000/admin/pyt/supplier_detail/add/" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="http://127.0.0.1:8000/admin/pyt/supplier_transaction/" class="btn btn-primary btn-md btn-trim" role="button"> Supplier_transaction</a>
      <a href="http://127.0.0.1:8000/admin/pyt/supplier_transaction/add/" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>
      <br>
      <br>
      <a href="http://127.0.0.1:8000/admin/pyt/supplies/" class="btn btn-primary btn-md btn-trim" role="button">Supplies</a>
      <a href="http://127.0.0.1:8000/admin/pyt/supplies/add/" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="http://127.0.0.1:8000/admin/pyt/purchase/" class="btn btn-primary btn-md btn-trim" role="button"> Purchase</a>
      <a href="http://127.0.0.1:8000/admin/pyt/purchase/add" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>
      
      <a href="http://127.0.0.1:8000/admin/pyt/customer/" class="btn btn-primary btn-md btn-trim" role="button">Customer</a>
      <a href="http://127.0.0.1:8000/admin/pyt/customer/add/" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="http://127.0.0.1:8000/admin/pyt/bill/" class="btn btn-primary btn-md btn-trim" role="button"> Bill</a>
      <a href="http://127.0.0.1:8000/admin/pyt/bill/add/" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href= 'http://127.0.0.1:8000/admin/pyt/amc/' class="btn btn-primary btn-md btn-trim" role="button"> AMC</a>
      <a href='http://127.0.0.1:8000/admin/pyt/amc/add/'class="btn btn-warning btn-sm btn-pad" role="button"> +</a>
      
    </div>



  
       
       
      

     
    

{% endblock %}
