{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<a href="{% url 'print_bill' %}" class="btn btn-primary btn-md btn-trim" role="button"> Print Bill by bill number</a>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <canvas id="PaymentMode-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="BillDate-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="cust-chart" style="width: 100px !important;"></canvas>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
